.cal {
  border: 1px solid var(--gray2);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--gray7);
  color: var(--gray4);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cal .l,
.cal .r {
  border: 1px solid;
}
.cal .l div {
  display: flex;
  flex-direction: row;
  background-color: gray;
  align-items: center;
}
.cal .r {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
}
