ul#grid {
  display: flex;
  text-decoration: none;
}
@media (min-width: 500px) {
  ul#grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 768px) {
  ul#grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1024px) {
  ul#grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  ul#grid li:hover a {
    text-decoration: underline;
  }
}
