div .lbtn {
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid var(--gray4);
  outline: none;
  border-radius: 8px;
  padding: 9px;
  cursor: pointer;
  transition: all 0.4s;
}
div .lbtn:hover {
  color: gray;
  border: 1px solid gray;
}
