* {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.603);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}

header ul {
  list-style-type: none;
  display: flex;
  column-gap: 15px;
}
header .netflix {
  background-color: transparent;
  border: none;
  color: rgb(216, 0, 0);
  font-size: 35px;
}
header ul .lang {
  background-color: transparent;
  border: 1px groove var(--gray5);
  color: rgba(235, 235, 235, 0.745);
  padding: 4px 23px;
  border-radius: 4px;
  font-size: 16px;
}
header ul .log {
  border: none;
  font-size: 14px;
  font-weight: 650;
  color: rgb(235, 235, 235);
  background-color: rgb(226, 24, 24);
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}
header ul .log:hover {
  background-color: rgb(180, 20, 20);
  transition: all 0.5s;
}
