div.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.right {
  display: flex;
  column-gap: 10%;
}
.header .left {
  border: none;
  background-color: transparent;
  color: rgb(196, 43, 43);
  font-size: 30px;
}

button.login {
  border: none;
  border-radius: 7px;
  background-color: rgb(196, 43, 43);
  color: whitesmoke;

  padding: 1%;
}
